## Python Strings

In [1]:
# this is a string
'Ismail'

'Ismail'

In [ ]:
type('Ismail')

In [ ]:
campus = "CoLab Innovation Campus"

In [ ]:
print(campus)

In [ ]:
fullname = "Gideon Odekina"

In [ ]:
print(fullname)

In [ ]:
name = 'Python'
print(name)

In [ ]:
print(name)

In [ ]:
multiline = '''
No.1 Barnawa Road,
Barnawa, 
Kaduna
Nigeria
West Africa
'''
print(multiline)

In [ ]:
type??

In [ ]:
print('Allison', 'Gideon', 'Abdulhamid', sep = '**')

In [ ]:
# Type casting

In [ ]:
# how do we escape single quote within strings?
"Mohammed's Laptop"

In [ ]:
# using the backslash
'Mohammed\'s Laptop'

In [ ]:
name_stud = '   John Doe   '

In [ ]:
name_stud

In [ ]:
type(name_stud)

In [ ]:
stripped_name = name_stud.strip()

In [ ]:
stripped_name

In [ ]:
# find string methods
dir(name_stud)

In [ ]:
name_stud.strip??

In [ ]:
'elsie'.capitalize()

In [ ]:
'elsie'.count('e')

In [ ]:
'ismail is learning python'.capitalize()

In [ ]:
'ismail is learning python'.title()

In [ ]:
# Number of characters in the string: multiline
len(multiline)

In [ ]:
len(fullname)

In [ ]:
# how does split method work? apply it on the multiline variable
print(multiline)
multiline.split()

In [ ]:
greeting = 'hello all, welcome to python 101'
print(greeting)
greeting.split()

In [ ]:
# indexing
print(fullname)

In [ ]:
fullname[0]

In [ ]:
fullname[1]

In [ ]:
fullname[-1]

In [ ]:
# slicing a string
print(fullname[0:6])

In [ ]:
print(fullname[0], fullname[7])

In [ ]:
fullname_list = fullname.split()

In [ ]:
print(fullname_list[0][0] , fullname_list[1][0], sep='.')

In [ ]:
paragraph = 'Tommy is a good boy'

In [ ]:
paragraph.upper().split()

In [4]:
fullname = input('Enter your Fullname: ')

Enter your Fullname: hello World

In [5]:
fullname

'hello World'

In [10]:
fullname = input('Enter your Fullname: ')
fullname_list = fullname.split()
print(f"Hey {fullname}! Your initials are: {fullname_list[0][0]}{fullname_list[1][0]}")

Enter your Fullname: John ODe
Hey John ODe! Your initials are: J  O

### String Formatting

In [26]:
language  = 'JavaScript'
print(f'Hey I am learning {language}')

Hey I am learning JavaScript

In [49]:
print(language)

JavaScript

In [50]:
language[:4]

'Java'

In [47]:
language[5:]

'cript'

In [37]:
muhammed_amasa = True

SyntaxError: invalid syntax (2767537365.py, line 1)

In [38]:
print = "Elsie"

In [41]:
print("Muhammed")

Muhammed

In [40]:
del print

In [34]:
if muhammed:
    print("It is me")

It is me

In [13]:
language  = 'Python'
print('Hey I am learning %s'% language)

Hey I am learning Python

In [19]:
language  = 'Python'
print('Hey I am learning {}' .format(language))

Hey I am learning Python

In [77]:
language  = 'Python'
print('Hey I am learning ' + language)

Hey I am learning Python

In [20]:
fullname = ''
fullname.split()

['John', 'Doe']

In [23]:
fullname.split()[1][0]

'D'

In [53]:
long_word = 'presbitarian'
long_word[-4:]

'rian'

In [57]:
campus = 'Colab Innovation Campus'

In [61]:
campus_list= campus.split()

In [62]:
type(campus_list)

list

In [63]:
campus_list

['Colab', 'Innovation', 'Campus']

In [65]:
type(campus_list[1])

str

In [66]:
len(campus_list[1])

10

In [67]:
len(campus_list)

3

In [72]:
message = 'One of Pythons strengths is it\'s diverse community.'

In [70]:
&2024 = "Cohort12"

SyntaxError: invalid syntax (3432396096.py, line 1)

In [73]:
dir(message)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [74]:
'Colab'.replace('l', 'r')

'Corab'

In [76]:
'Colab ' + 'Campus'

'Colab Campus'

In [78]:
'Colab ' - 'Campus'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [79]:
'Colab ' * 10

'Colab Colab Colab Colab Colab Colab Colab Colab Colab Colab '

### Numeric Data Types

In [1]:
70+70

140

In [ ]:
PEMDAS

In [2]:
(5-6)*3

-3

In [3]:
type(70)

int

In [4]:
type(70.99)

float

In [ ]:
P - ()
E - **
M - *
D - /
A - +
S - -

In [9]:
# build a basic calculator by taking user input

num1 = int(input('Enter the first number: '))
num2 = int(input('Enter the second number: '))
result = num1 + num2 
print(result)

Enter the first number: 140
Enter the second number: 20
160

In [10]:
type(2024)

int

In [11]:
dob = int(input('Enter year of birth: '))
current_year = 2024
age = current_year - dob
print(f'your age is {age}')

Enter year of birth: 2001
your age is 23

In [13]:
dob = int(input('Enter year of birth: '))
projected_year = int(input('Enter projected year: '))
age = projected_year - dob
print(f'in {projected_year}, your age is {age}')

Enter year of birth: okay

ValueError: invalid literal for int() with base 10: 'okay'

In [14]:
# if the dollar rate is 1 USD - 1600 NGN write a script to convert naira to dollar & dollar to naira

naira = float(input('How much do you want to convert to USD? '))
dolar_rate = 1600
result = naira / dolar_rate
print(f'{result} USD')

How much do you want to convert to USD? 500000
312.5USD

In [18]:
currency = input('Enter the currency you wish to convert to (USD/NGN): ').upper()
if currency == 'USD':
    amount = float(input('Enter the amount in NGN'))
    print(amount / 1600)
elif currency == 'NGN':
    amount = float(input('Enter the amount in USD: '))
    print(amount * 1600)
else:
    print('Invalid Currency')

Enter the currency you wish to convert to (USD/NGN): usd
Enter the amount in NGN33000
20.625

### Calculations in Python

In [2]:
3 * 3

9

In [1]:
144 / 12

12.0

In [3]:
# the quotient rounds up and returns an answer without float. However it always retain the original structure of the 
# expression entered
144//12

12

In [4]:
1565 % 3

2

In [5]:
22/7

3.142857142857143

In [7]:
3.142857142857143 ** 0.5

1.7728105208558367

In [8]:
import math

In [9]:
math.pi

3.141592653589793

In [13]:
math.sqrt((math.pi))

1.7724538509055159

In [14]:
(22/7 + 3.14**2) * 3 / 0.025

1560.2948571428572

In [17]:
calc = ((3/11**0.5)**2 * 0.5 * 7/9)**-1

In [19]:
ans = round (calc, 2)

In [20]:
ans

3.14

In [21]:
round(((3/11**0.5)**2 * 0.5 * 7/9)**-1, 2)

3.14

In [24]:
"Elsie " * 500

'Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie Elsie '

In [26]:
for i in range(500):
    print("Elsie")

Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie

In [27]:
count = 0
while count < 500:
    print("Elsie")
    count+=1

Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie
Elsie

In [28]:
22//7

3

In [37]:
f_name = "Elsie"
l_name = "Dickson"

In [39]:
f_name.lower() + " " + l_name.upper()

'elsie DICKSON'

In [40]:
len(f_name)

5

In [41]:
"elsie" != "Elsie"

True

In [1]:
x = 2**5 
y = 130/5 
z = 6*7

In [46]:
x = 2**5

In [47]:
x

32

In [48]:
y = 130/5

26.0

In [49]:
z = 6*7

42

### Tuples

In [2]:
attendance = "Martin", "Julius", "Justin", "Ahmed", "Chukwuemeka", "Favor", "Annointing", "Alisson", "Abdulhamid", "Gideon", "Lawrence", "Muhammed", "Diantu", "Funmi", "Ismail"

In [3]:
print(attendance)

('Martin', 'Julius', 'Justin', 'Ahmed', 'Chukwuemeka', 'Favor', 'Annointing', 'Alisson', 'Abdulhamid', 'Gideon', 'Lawrence', 'Muhammed', 'Diantu', 'Funmi', 'Ismail')

In [4]:
len(attendance)

15

In [15]:
attendance_list = attendance = ["Martin", "Julius", "Justin", "Ahmed", "Chukwuemeka", "Favor", "Annointing", "Alisson", "Abdulhamid", "Gideon", "Lawrence", "Muhammed", "Diantu", "Funmi", "Ismail"]

In [16]:
print(attendance_list)

['Martin', 'Julius', 'Justin', 'Ahmed', 'Chukwuemeka', 'Favor', 'Annointing', 'Alisson', 'Abdulhamid', 'Gideon', 'Lawrence', 'Muhammed', 'Diantu', 'Funmi', 'Ismail']

In [17]:
type(attendance_list)

list

In [18]:
attendance_list[0]

'Martin'

### List Methods

In [19]:
dir(attendance_list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [21]:
attendance_list.sort()

In [22]:
print(attendance_list)

['Abdulhamid', 'Ahmed', 'Alisson', 'Annointing', 'Chukwuemeka', 'Diantu', 'Favor', 'Funmi', 'Gideon', 'Ismail', 'Julius', 'Justin', 'Lawrence', 'Martin', 'Muhammed']

In [24]:
attendance_list.append("Johnson")

In [25]:
print(attendance_list)

['Abdulhamid', 'Ahmed', 'Alisson', 'Annointing', 'Chukwuemeka', 'Diantu', 'Favor', 'Funmi', 'Gideon', 'Ismail', 'Julius', 'Justin', 'Lawrence', 'Martin', 'Muhammed', 'Johnson']

In [26]:
attendance_list.insert(2, "Boniface")

In [29]:
attendance_list

['Abdulhamid',
 'Ahmed',
 'Boniface',
 'Alisson',
 'Annointing',
 'Chukwuemeka',
 'Diantu',
 'Favor',
 'Funmi',
 'Gideon',
 'Ismail',
 'Julius',
 'Justin',
 'Lawrence',
 'Martin',
 'Muhammed',
 'Johnson']

In [30]:
attendance_list.extend(['Joshua', 'James', 'Elsie'])

In [43]:
attendance_list

['Abdulhamid',
 'Boniface',
 'Alisson',
 'Annointing',
 'Chukwuemeka',
 'Diantu',
 'Favor',
 'Funmi',
 'Gideon',
 'Ismail',
 'Julius',
 'Justin',
 'Lawrence',
 'Martin',
 'Muhammed',
 'Johnson']

In [44]:
attendance_list.pop()

'Johnson'

In [45]:
attendance_list

['Abdulhamid',
 'Boniface',
 'Alisson',
 'Annointing',
 'Chukwuemeka',
 'Diantu',
 'Favor',
 'Funmi',
 'Gideon',
 'Ismail',
 'Julius',
 'Justin',
 'Lawrence',
 'Martin',
 'Muhammed']

In [46]:
attendance_list

['Abdulhamid',
 'Boniface',
 'Alisson',
 'Annointing',
 'Chukwuemeka',
 'Diantu',
 'Favor',
 'Funmi',
 'Gideon',
 'Ismail',
 'Julius',
 'Justin',
 'Lawrence',
 'Martin',
 'Muhammed']

### Augmented assignments : performing an operation and making an assignment on one line.

In [49]:
y = 2
y +=2
print(y)

4

In [58]:
attendance_list[3] = [4]

In [64]:
attendance_list[3] = 'Anointing'

In [65]:
attendance_list.sort()

In [66]:
attendance_list

['Abdulhamid',
 'Alisson',
 'Anointing',
 'Boniface',
 'Chukwuemeka',
 'Diantu',
 'Favor',
 'Funmi',
 'Gideon',
 'Ismail',
 'Julius',
 'Justin',
 'Lawrence',
 'Martin']

In [67]:
# reverse
attendance_list.reverse()

In [69]:
attendance_list.append('Pear')

In [70]:
attendance_list

['Martin',
 'Lawrence',
 'Justin',
 'Julius',
 'Ismail',
 'Gideon',
 'Funmi',
 'Favor',
 'Diantu',
 'Chukwuemeka',
 'Boniface',
 'Anointing',
 'Alisson',
 'Abdulhamid',
 'Pear']

In [71]:
new_list = ['Mohammed', 12, 15.6, [10, 20, 'Hello'], (4, 5, 6)]

In [72]:
new_list

['Mohammed', 12, 15.6, [10, 20, 'Hello'], (4, 5, 6)]

In [82]:
people = [['Benjamin', 12, 'Male', 100], ['Gideon', 23, 'Male', 50], ['Dinatu', 15, 'Female', 100]]

In [87]:
people[2][3]

100

In [84]:
import pandas as pd
df = pd.DataFrame(people, columns = ['Name', 'Age', 'Gender', 'Height'])

In [85]:
df

       Name  Age  Gender  Height
0  Benjamin   12    Male     100
1    Gideon   23    Male      50
2    Dinatu   15  Female     100

In [88]:
# write a script that takes a person's name and puts it in a list
lst = []
name = input('What is your name? ').title()
lst.append(name)

What is your name? ismail

In [89]:
lst

['Ismail']

In [95]:
people.extend([[]])

In [97]:
people.pop(-2)

1

In [98]:
people

[['Benjamin', 12, 'Male', 100],
 ['Gideon', 23, 'Male', 50],
 ['Dinatu', 15, 'Female', 100],
 []]

In [118]:
people.extend([[]])
name = input('What is your name? ').title()
age = int(input('What is your age? '))
gender = input('What is your gender? ').title()
height = float(input('What is your height? '))
people[-1].extend([name, age, gender, height])

import pandas as pd
df = pd.DataFrame(people, columns = ['Name', 'Age', 'Gender', 'Height'])
df

What is your name? elsie
What is your age? 13
What is your gender? Female
What is your height? 200

        Name  Age  Gender  Height
0   Benjamin   12    Male   100.0
1     Gideon   23    Male    50.0
2     Dinatu   15  Female   100.0
3     Joshua    7    Male   120.0
4     Ismail   13    Male   120.0
5  Anointing   18  Female   130.0
6    Alisson   19    Male   129.0
7    Alisson   20    Male   290.0
8      Elsie   13  Female   200.0

In [115]:
df

         Name  Age  Gender  Height
0    Benjamin   12    Male   100.0
1      Gideon   23    Male    50.0
2      Dinatu   15  Female   100.0
3      Joshua    7    Male   120.0
4      Ismail   13    Male   120.0
5   Anointing   18  Female   130.0
6  Abdulhamid   30    Male   200.0

In [110]:
people[5][1] = 18

In [117]:
people.pop(-3)

['Abdulhamid', 30, 'Male', 200.0, 'Alisson', 19, 'Male', 129.0]

In [1]:
activities = [['colab DS', 180, 'learning list, tuple etc'], 
              ['Netflix', 120, 'season 5 brooklyn nine-nine']]

In [2]:
kitchen_tools = ['spoon', 'knives', 'pots', 'frying pan']

In [3]:
kitchen_tools

['spoon', 'knives', 'pots', 'frying pan']

In [7]:
kitchen_tools2 = list({'spoon', 'knives', 'pots', 'frying pan'})

In [8]:
kitchen_tools2

['knives', 'spoon', 'pots', 'frying pan']

In [9]:
kitchen_tools_tup = tuple({'spoon', 'knives', 'pots', 'frying pan'})

In [10]:
kitchen_tools_tup

('knives', 'spoon', 'pots', 'frying pan')

In [11]:
# adding items to a list
kitchen_tools.append('Blender')

In [12]:
kitchen_tools

['spoon', 'knives', 'pots', 'frying pan', 'Blender']

In [13]:
kitchen_tools.insert(0, 'Toaster')

In [14]:
kitchen_tools

['Toaster', 'spoon', 'knives', 'pots', 'frying pan', 'Blender']

In [15]:
# remove items from the list
kitchen_tools.remove('spoon')

In [16]:
kitchen_tools

['Toaster', 'knives', 'pots', 'frying pan', 'Blender']

In [17]:
more_tools = ['fork', 'scissors', 'cooker']
#kitchen_tools.append(more_tools)

In [19]:
kitchen_tools.pop()

['fork', 'scissors', 'cooker']

In [20]:
kitchen_tools.extend(more_tools)

In [21]:
kitchen_tools

['Toaster',
 'knives',
 'pots',
 'frying pan',
 'Blender',
 'fork',
 'scissors',
 'cooker']

In [22]:
kitchen_tools.pop(0)

'Toaster'

In [23]:
kitchen_tools

['knives', 'pots', 'frying pan', 'Blender', 'fork', 'scissors', 'cooker']

In [24]:
properties = [['house 1', 115910, 4, 128], 
             ['house 2', 48718, 3, 210], 
             ['house 3', 28977, 2, 58],
             ['house 4', 36932, 3, 79],
             ['house 5', 89903, 3, 111]]

In [25]:
properties[2]

['house 3', 28977, 2, 58]

In [27]:
import pandas as pd
df = pd.DataFrame(properties, columns = ['House_Number', 'Price_Usd', 'Num_Rooms', 'Area(sqm)'])
df

  House_Number  Price_Usd  Num_Rooms  Area(sqm)
0      house 1     115910          4        128
1      house 2      48718          3        210
2      house 3      28977          2         58
3      house 4      36932          3         79
4      house 5      89903          3        111

In [28]:
properties.extend([[]])

name = input('What is the house name? ').title()

price = float(input('What is the house price? '))
num_room = int(input('how many rooms are in the house? '))
area = float(input('how big is the house? (sqm) '))
properties[-1].extend([name, price, num_room, area])

What is the house name?  house 5
What is the house price?  150000
how many rooms are in the house?  4
how big is the house? (sqm)  150

In [35]:
properties

[['house 1', 115910, 4, 128],
 ['house 2', 48718, 3, 210],
 ['house 3', 28977, 2, 58],
 ['house 4', 36932, 3, 79],
 ['house 5', 89903, 3, 111],
 ['House 6', 150000.0, 4, 150.0]]

In [34]:
properties[-1][0] = 'House 6'

In [40]:
df = pd.DataFrame(properties, columns = ['House_Number', 'Price_Usd', 'Num_Rooms', 'Area(sqm)'])

In [41]:
df

  House_Number  Price_Usd  Num_Rooms  Area(sqm)
0      house 1   115910.0          4      128.0
1      house 2    48718.0          3      210.0
2      house 3    28977.0          2       58.0
3      house 4    36932.0          3       79.0
4      house 5    89903.0          3      111.0
5      House 6   150000.0          4      150.0

In [42]:
name = 'Jimmy'

In [43]:
len(name)

5

In [44]:
for char in name:
    print(char)

J
i
m
m
y

In [47]:
for property in properties:
    print(property)

['house 1', 115910, 4, 128]
['house 2', 48718, 3, 210]
['house 3', 28977, 2, 58]
['house 4', 36932, 3, 79]
['house 5', 89903, 3, 111]
['House 6', 150000.0, 4, 150.0]

In [48]:
for tool in kitchen_tools_tup:
    print(tool)

knives
spoon
pots
frying pan

In [53]:
for property in properties:
    print(f'price: {property[1]}, area: {property[3]}')

price: 115910, area: 128
price: 48718, area: 210
price: 28977, area: 58
price: 36932, area: 79
price: 89903, area: 111
price: 150000.0, area: 150.0

In [56]:
price_sqm = []
for property in properties:
    price_per_sqm = property[1]/property[3]
    price_sqm.append(price_per_sqm)

In [57]:
price_sqm

[905.546875,
 231.9904761904762,
 499.6034482758621,
 467.49367088607596,
 809.936936936937,
 1000.0]

In [58]:
df

  House_Number  Price_Usd  Num_Rooms  Area(sqm)
0      house 1   115910.0          4      128.0
1      house 2    48718.0          3      210.0
2      house 3    28977.0          2       58.0
3      house 4    36932.0          3       79.0
4      house 5    89903.0          3      111.0
5      House 6   150000.0          4      150.0

In [59]:
df['price_per_sqm'] = price_sqm

In [60]:
df

  House_Number  Price_Usd  Num_Rooms  Area(sqm)  price_per_sqm
0      house 1   115910.0          4      128.0     905.546875
1      house 2    48718.0          3      210.0     231.990476
2      house 3    28977.0          2       58.0     499.603448
3      house 4    36932.0          3       79.0     467.493671
4      house 5    89903.0          3      111.0     809.936937
5      House 6   150000.0          4      150.0    1000.000000

In [61]:
df.columns

Index(['House_Number', 'Price_Usd', 'Num_Rooms', 'Area(sqm)', 'price_per_sqm'], dtype='object')

In [63]:
df[['House_Number', 'Price_Usd', 'price_per_sqm', 'Num_Rooms', 'Area(sqm)']]

  House_Number  Price_Usd  price_per_sqm  Num_Rooms  Area(sqm)
0      house 1   115910.0     905.546875          4      128.0
1      house 2    48718.0     231.990476          3      210.0
2      house 3    28977.0     499.603448          2       58.0
3      house 4    36932.0     467.493671          3       79.0
4      house 5    89903.0     809.936937          3      111.0
5      House 6   150000.0    1000.000000          4      150.0

In [65]:
kitchen_dict = {'knife': 5, 'toaster': 1, 'spoon':3}

In [66]:
kitchen_dict.keys()

dict_keys(['knife', 'toaster', 'spoon'])

In [67]:
kitchen_dict.values()

dict_values([5, 1, 3])

In [68]:
kitchen_dict.items()

dict_items([('knife', 5), ('toaster', 1), ('spoon', 3)])

In [73]:
kitchen_dict['knife']

5

In [74]:
properties

[['house 1', 115910, 4, 128],
 ['house 2', 48718, 3, 210],
 ['house 3', 28977, 2, 58],
 ['house 4', 36932, 3, 79],
 ['house 5', 89903, 3, 111],
 ['House 6', 150000.0, 4, 150.0]]

In [76]:
property_dict = {'house 1': [ 115910, 4, 128],
 'house 2': [48718, 3, 210],
 'house 3': [28977, 2, 58],
 'house 4': [36932, 3, 79],
 'house 5': [89903, 3, 111],
 'House 6': [150000.0, 4, 150.0]}

In [78]:
property_dict['house 1']

[115910, 4, 128]

In [79]:
# Declare variable `houses_rowwise`
houses_rowwise = [
    {
        "price_approx_usd": 115910.26,
        "surface_covered_in_m2": 128,
        "rooms": 4,
    },
    {
        "price_approx_usd": 48718.17,
        "surface_covered_in_m2": 210,
        "rooms": 3,
    },
    {
        "price_approx_usd": 28977.56,
        "surface_covered_in_m2": 58,
        "rooms": 2,
    },
    {
        "price_approx_usd": 36932.27,
        "surface_covered_in_m2": 79,
        "rooms": 3,
    },
    {
        "price_approx_usd": 83903.51,
        "surface_covered_in_m2": 111,
        "rooms": 3,
    },
]

# Print `houses_rowwise` object type
print("houses_rowwise type:", type(houses_rowwise))

# Print `houses_rowwise` length
print("houses_rowwise length:", len(houses_rowwise))

# Get output of `houses_rowwise`
houses_rowwise

houses_rowwise type: <class 'list'>
houses_rowwise length: 5

[{'price_approx_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4},
 {'price_approx_usd': 48718.17, 'surface_covered_in_m2': 210, 'rooms': 3},
 {'price_approx_usd': 28977.56, 'surface_covered_in_m2': 58, 'rooms': 2},
 {'price_approx_usd': 36932.27, 'surface_covered_in_m2': 79, 'rooms': 3},
 {'price_approx_usd': 83903.51, 'surface_covered_in_m2': 111, 'rooms': 3}]

In [81]:
df = pd.DataFrame(houses_rowwise)

In [82]:
df

   price_approx_usd  surface_covered_in_m2  rooms
0         115910.26                    128      4
1          48718.17                    210      3
2          28977.56                     58      2
3          36932.27                     79      3
4          83903.51                    111      3

In [83]:
# Declare variable `houses_columnwise`
houses_columnwise = {
    "price_approx_usd": [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
    "surface_covered_in_m2": [128.0, 210.0, 58.0, 79.0, 111.0],
    "rooms": [4.0, 3.0, 2.0, 3.0, 3.0],
}

# Print `houses_columnwise` object type
print("houses_columnwise type:", type(houses_columnwise))

# Get output of `houses_columnwise`
houses_columnwise

houses_columnwise type: <class 'dict'>

{'price_approx_usd': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 111.0],
 'rooms': [4.0, 3.0, 2.0, 3.0, 3.0]}

In [84]:
df2 = pd.DataFrame(houses_columnwise)

In [85]:
df2

   price_approx_usd  surface_covered_in_m2  rooms
0         115910.26                  128.0    4.0
1          48718.17                  210.0    3.0
2          28977.56                   58.0    2.0
3          36932.27                   79.0    3.0
4          83903.51                  111.0    3.0

In [88]:
df[df2.price_approx_usd < 30000]

   price_approx_usd  surface_covered_in_m2  rooms
2          28977.56                     58      2

In [92]:
data = {'col_1': ['Math', 'English', 'Biology', 'Commerce'], 'col_2': ['a', 'b', 'c', 'd']}
pd.DataFrame.from_dict(data, orient='columns')

      col_1 col_2
0      Math     a
1   English     b
2   Biology     c
3  Commerce     d